* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  background-color: rgb(219, 237, 255);
}

body {
  display: flex;
  margin: 0%;
  padding: 0%;
}

a {
  text-decoration: none;
  color: rgb(255, 136, 0);
}

a:hover {
  color: rgb(0, 89, 255);
}

label {
  font-family: ubuntu mono, sans-serif;
  font-size: 1.2rem;
  margin-bottom: 6px;
}

input {
  font-family: ubuntu mono, sans-serif;
  font-size: 1rem;
  width: 210px;
  height: 26px;
  margin-bottom: 16px;
}

input:focus {
  background-color: rgba(224, 224, 224, 0.541);
  border: 1px solid rgb(255, 136, 0);
}

form {
  width: 600px;
}

.position-elements {
  display: flex;
  flex-direction: column;
}

.justify-left {
  display: flex;
  flex-direction: column;
  min-width: 460px;
  width: 40%;
}

.image {
  background: url(./background.jpg) black center no-repeat;
  background-size: cover;
  position: relative;
  height: 100%;
  min-height: 100%;
}

.logo-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.596);
  width: 100%;
  height: 200px;
  margin-top: 200px;
}

.logo {
  background: url(./brain.png) left no-repeat;
  margin-right: 24px;
  background-size: 110px 130px;
  width: 110px;
  height: 130px;
}

.logo-text-tilt {
  font-family: Ani, sans-serif;
  transform: rotate(-23deg);
  margin-top: -124px;
  font-size: 4.3rem;
  color: rgb(255, 136, 0);
}

.logo-text {
  font-family: Ani, sans-serif;
  margin-left: -43px;
  font-size: 7.4rem;
  color: rgb(255, 136, 0);
}

.position-footer {
  display: flex;
  justify-content: center;
}

.content-wrap {
  padding-bottom: 20px;
}

.footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  height: 20px;
  width: 240px;
  font-size: 1rem;
  color: rgb(255, 136, 0);
  background-color: rgba(0, 0, 0, 0.596);
  border-radius: 6px;
}

.justify-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.my-form {
  display: flex;
  column-gap: 10%;
  margin-left: 46px;
}

.push-left {
  margin-left: 46px;
}

.push-bottom {
  margin-bottom: 7%;
}

.push-top {
  margin-top: 110px;
}

div > p {
  font-family: ubuntu mono, sans-serif;
  font-size: 1.6rem;
  width: 80%;
}

.form-box {
  background-color: aliceblue;
  box-shadow: 3px 3px 3px grey;
  height: 300px;
}

button {
  font-family: ubuntu mono, sans-serif;
  font-size: 1.4rem;
  font-weight: 600;
  width: 220px;
  height: 60px;
  border-radius: 8px;
  margin-top: 60px;
  margin-left: 46px;
  border: none;
  background-color:rgb(255, 136, 0);
  box-shadow: 3px 3px 3px grey;
}

button:hover {
  background-color: rgb(0, 89, 255);
  color: aliceblue;
}